[user]
        name = tsubu
        email = tsubu@lily-white.net
[push]
        devault = simple
        default = simple
[gui]
	recentrepo = G:/dev/apache/docs/mag.local-test.com/mag
[core]
	pager = lv -c
	autocrlf = true
